/* Customizer Styles */
li#accordion-section-haxel_sec_upgrade h3:before {
  content: "\f005";
  font-family: "FontAwesome";
}

li#accordion-section-haxel_sec_upgrade_pro h3:before {
  content: "\f0a2";
  font-family: "FontAwesome";
}